<h3>Account Registration</h3>
<form id="account_form" onsubmit="return false;">
    <h4>Account details</h4>
    <div class="form-group row">
        <label for="account_email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="account_email" name="account_email" placeholder="Email" required>
            <div class="invalid-feedback" id="emailFeedback"></div>
        </div>
    </div>
    <div class="form-group row">
        <label for="account_emailConfirmation" class="col-sm-2 col-form-label">Confirm email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="account_emailConfirmation" name="account_emailConfirmation" placeholder="Confirm email" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="account_password" class="col-sm-2 col-form-label">Password <span class="encrypted">*</span></label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="account_password" name="account_password" required>
            <div class="invalid-feedback" id="passwordFeedback"></div>
        </div>
    </div>
    <div class="form-group row">
        <label for="account_passwordConfirmation" class="col-sm-2 col-form-label">Confirm password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="account_passwordConfirmation" name="account_passwordConfirmation" required>
        </div>
    </div>
    <h4>Personal details</h4>
    <div class="form-group row">
        <label for="account_firstname" class="col-sm-2 col-form-label">First name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="account_firstname" name="account_firstname" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="account_lastname" class="col-sm-2 col-form-label">Last name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="account_lastname" name="account_lastname" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="account_uasOperatorRegistrationNumber" class="col-sm-2 col-form-label">UAS Operator Registration Number (Open Category)<span class="encrypted">*</span></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="account_uasOperatorRegistrationNumber" name="account_uasOperatorRegistrationNumber">
            <div class="invalid-feedback" id="account_uasOperatorRegistrationNumberFeedback"></div>
        </div>
    </div>
    <div class="form-group row">
        <label for="account_stsCertificateNumber" class="col-sm-2 col-form-label">STS Certificate Number <span class="encrypted">*</span></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="account_stsCertificateNumber" name="account_stsCertificateNumber">
            <div class="invalid-feedback" id="account_stsCertificateNumberFeedback"></div>
        </div>
    </div>
    <div class="form-group row">
        <label for="account_operationAuthorisationApprovalNumber" class="col-sm-2 col-form-label">Operational Authorisation Approval Number <span class="encrypted">*</span></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="account_operationAuthorisationApprovalNumber" name="account_operationAuthorisationApprovalNumber">
            <div class="invalid-feedback" id="account_operationAuthorisationApprovalNumberFeedback"></div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col">
            <input type="checkbox" id="account_privacy" class="form-check-input" required/>
            <label for="account_privacy" class="form-check-label">I have read and agree to the privacy and data policy.</label>
            <div class="invalid-feedback" id="privacyFeedback">You must agree to the privacy and data policy</div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col">
            <button id="account_registerButton" class="btn btn-primary">Register</button>
        </div>
    </div>
    <p>Form fields marked with a <span class="encrypted">*</span> are encrypted in your browser using industry standard encryption before being sent to the server. Only the encrypted values are stored and they cannot be read by the server admins.</p>
</form>
<div id="account_success" style="display:none">
    <h3>Account updated</h3>
</div>


<div class="modal fade" id="account_modal" tabindex="-1" role="dialog" aria-labelledby="accountModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="accountModalTitle">Account Update Progress</h5>
            </div>
            <div class="modal-body">
                <div id="registrationModalFeedBack"></div>
            </div>
        </div>
    </div>
</div>
