<%- include('./header.inc.ejs') %>
    <h3>Overview</h3>
    <p>This project is being conceived to make my life easier, for storing and backing up of the files and paperwork required for managing and maintaining my Operational Authorisation paperwork.</p>
    <p>The project is completely unofficial, has no support (from me, from the IAA, or from AirNav), has not been generalised and is something I am using for my own purposes. If it doesn't suit your particular needs, you're free to clone the project from its git repository and change it as needed.</p>
    <p></p>
<%- include('./footer.inc.ejs') %>
