<h3>Privacy</h3>
<h4>Preamble</h4>
<p>The security of data is a cornerstone of this project. In order to allow for user sessions to retain your logged-in status, a cookie is stored on your computer which contains a session identifier. That session identifier is passed to the server every time you click a link and checked against our database, which is where your data is stored.</p>
<p>Some of your personally identifying information is stored in the database in unencrypted format, your name and email address for example. We require that information to be stored in unencrypted text so that when we email you, we can include your first name and surname as proof that we are the ones emailing you rather than spammers.</p>
<p>Your Open Category ID number, Specific Category Certificate number, and your Operational Authorisation number however are Privileged information. Our having unencrypted access to them would pose a data security risk and as such they are encrypted in your browser and sent to us for storage as encrypted blobs. We do not, therefore, store this as data.</p>
<p>When you create an account, an AES256 key is created for your account in your browser. It is encrypted with your password and the encrypted key is stored. When you log in, the encrypted key is downloaded to your browser and decrypted there. It is then used to decrypt and encrypt things as necessary.</p>
<h4>GDPR Privacy Policy</h4>

<p>This privacy policy will explain how MOAP uses the personal data it collects from you when you use the website.</p>

<p>This website collects the following data</p>
<ul>
    <li>First name</li>
    <li>Surname</li>
    <li>Email address</li>
</ul>
<p>You directly provide MOAP with all the data we collect when you register online.</p>
<p>MOAP collects your data so that we can process your registration and manage your account or email you in the event of any security breaches.</p>
<p>MOAP securely stores your data in a Mongo DB instance hosted on a Digital Ocean Droplet. This Mongo instance is not available remotely and can only be accessed by the server itself.</p>
<p>MAOP will keep your data for up to one year after your most recent login. There is a nightly script that will delete all accounts and all associated data that have not logged in within one year.</p>
<h4>What are your data protection rights?</h4>
<p>MOAP would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
<ul>
    <li><b>The right to access</b> – You have the right to request copies of your personal data. We may charge you a small fee for this service.</li>
    <li><b>The right to rectification</b> – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request MOAP completes the information you believe is incomplete.</li>
    <li><b>The right to erasure</b> – You have the right to request that we erase your personal data, under certain conditions.</li>
    <li><b>The right to restrict processing</b> – You have the right to request that we restrict the processing of your personal data, under certain conditions.</li>
    <li><b>The right to object to processing</b> – You have the right to object to our processing of your personal data, under certain conditions.</li>
    <li><b>The right to data portability</b> – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
</ul>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email</p>
<h4>Cookies</h4>
<p>Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our website, we may collect information from you automatically through cookies or similar technology. For further information, visit <a href="http://www.allaboutcookies.org" target="_blank" rel="noopener">allaboutcookies.org</a>.</p>
<p>MOAP uses a cookie to keep you signed in. No third party cookies are used.</p>
<p>You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. MOAP will not function if you do not allow cookies for this site.</p>

<h4>Changes to our privacy policy</h4>
<p>MOAP keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 2023-08-03.</p>

<h4>How to contact the appropriate authorities</h4>
<p>
    Should you wish to report a complaint or if you feel that Our Company has not addressed your concern in a satisfactory manner, you may contact the Data Protection Commission<br/>
    <strong>Contact Form:</strong> <a href="https://forms.dataprotection.ie/contact" target="_blank" rel="noopener">dataprotection.ie</a>
    <strong>Address:</strong> 21 Fitzwilliam Square South, Dublin 2, D02 RD28, Ireland
</p>

