<h3>Account Registration</h3>
<form id="registration_form" onsubmit="return false;">
    <input type="hidden" id="registration_submit_to" name="registration_submit_to" value="<%- user?'update':'register' %>"/>
    <h4>Account details</h4>
    <div class="form-group row">
        <label for="registration_email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="registration_email" name="registration_email" placeholder="Email" required>
            <div class="invalid-feedback" id="registration_email_feedback"></div>
        </div>
    </div>
    <div class="form-group row">
        <label for="registration_emailConfirmation" class="col-sm-2 col-form-label">Confirm email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="registration_emailConfirmation" name="registration_emailConfirmation" placeholder="Confirm email" required>
        </div>
    </div>
    <div class="form-group row loggedInOnlyRow d-none">
        <div class="col-sm-2"></div>
        <div class="col">
            You will need to enter your password to change any of these fields and you will need to use your phone's authenticator.
        </div>
    </div>
    <div class="form-group loggedInOnlyRow row d-none">
        <label for="registration_current_password" class="col-sm-2 col-form-label">Current Password <span class="encrypted">*</span></label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="registration_current_password" name="registration_current_password" required>
            <div class="invalid-feedback" id="registration_current_password_feedback"></div>
        </div>
    </div>
    <div class="form-group row">
        <label for="registration_password" class="col-sm-2 col-form-label">Password <span class="encrypted">*</span></label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="registration_password" name="registration_password" required>
            <div class="invalid-feedback" id="registration_password_feedback"></div>
        </div>
    </div>
    <div class="form-group row">
        <label for="registration_passwordConfirmation" class="col-sm-2 col-form-label">Confirm password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="registration_passwordConfirmation" name="registration_passwordConfirmation" required>
        </div>
    </div>

    <h4>Personal details</h4>
    <div class="form-group row">
        <label for="registration_firstname" class="col-sm-2 col-form-label">First name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="registration_firstname" name="registration_firstname" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="registration_lastname" class="col-sm-2 col-form-label">Last name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="registration_lastname" name="registration_lastname" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="registration_primaryPhoneNUmber" class="col-sm-2 col-form-label">Primary Phone number:<span class="encrypted">*</span></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="registration_primaryPhoneNumber" name="registration_primaryPhoneNumber">
        </div>
    </div>
    <div class="form-group row">
        <label for="registration_secondaryPhoneNumber" class="col-sm-2 col-form-label">Secondary Phone number:<span class="encrypted">*</span></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="registration_secondaryPhoneNumber" name="registration_secondaryPhoneNumber">
        </div>
    </div>
    <div class="form-group row">
        <label for="registration_uasOperatorRegistrationNumber" class="col-sm-2 col-form-label">UAS Operator Registration Number (Open Category)<span class="encrypted">*</span></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="registration_uasOperatorRegistrationNumber" name="registration_uasOperatorRegistrationNumber">
            <div class="invalid-feedback" id="registration_uasOperatorRegistrationNumberFeedback"></div>
        </div>
    </div>
    <div class="form-group row">
        <label for="registration_stsCertificateNumber" class="col-sm-2 col-form-label">STS Certificate Number <span class="encrypted">*</span></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="registration_stsCertificateNumber" name="registration_stsCertificateNumber">
            <div class="invalid-feedback" id="registration_stsCertificateNumberFeedback"></div>
        </div>
    </div>
    <div class="form-group row">
        <label for="registration_operationAuthorisationApprovalNumber" class="col-sm-2 col-form-label">Operational Authorisation Approval Number <span class="encrypted">*</span></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="registration_operationAuthorisationApprovalNumber" name="registration_operationAuthorisationApprovalNumber">
            <div class="invalid-feedback" id="registration_operationAuthorisationApprovalNumberFeedback"></div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col">
            <input type="checkbox" id="registration_privacy" class="form-check-input" required/>
            <label for="registration_privacy" class="form-check-label">I have read and agree to the privacy and data policy.</label>
            <div class="invalid-feedback" id="privacyFeedback">You must agree to the privacy and data policy</div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col">
            <button id="registration_registerButton" class="btn btn-primary">Register</button>
        </div>
    </div>
    <p>Form fields marked with a <span class="encrypted">*</span> are encrypted in your browser using industry standard encryption before being sent to the server. Only the encrypted values are stored and they cannot be read by the server admins.</p>
</form>
<div id="registration_success" style="display:none">
    <h3>Account created</h3>
    <p>Your account has been created and an email has been sent to <span id="registration_email_sent"></span> with a link that you will need to verify.</p>
</div>


<div class="modal fade" id="registration_modal" tabindex="-1" role="dialog" aria-labelledby="registrationModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registrationModalTitle">Registration Progress</h5>
            </div>
            <div class="modal-body">
                <div id="registrationModalFeedBack"></div>
            </div>
        </div>
    </div>
</div>
