<html>
    <body>
        <p>Hello <%- user.firstname %> <%- user.surname %></p>
        <p>You're receiving this email because an MOAP account was made for you. If you click <a href="<%- verificationLink%>">this link</a>, your account will be verified and you will be able to log in.</p>
    </body>
</html>