<html>
    <body>
        <p>Hello <%- user.firstname %> <%- user.surname %></p>
        <p>This is a requested sign in email from <%- ip_address %>, if this is not you ignore this email.</p>
        <p>The required sign-in key for your email address is <%- sign_in_key %>. This key is valid for 15 minutes only.</p>
    </body>
</html>